//  Mobile: 320px - 375px
//  Desktop: 1440px

// colors
$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

$font: "Overpass", sans-serif;
// weights: 400, 700
// font-size: 15px

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  background-color: $very-dark-blue;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

#container {
  font-family: $font;
  background-color: $dark-blue;
  width: 330px;
  border-radius: 15px;
  padding: 1rem;
}

// rating page
.rating_page {
  &__star_img_container {
    background-color: lighten($dark-blue, 5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  &__title {
    color: $white;
  }

  &__p {
    color: $medium-grey;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
  }

  &__form {
    &__radio_buttons {
      input[type="radio"] {
        display: none;
      }

      label {
        display: inline-block;
        cursor: pointer;
        background-color: lighten($dark-blue, 5);
        padding-top: 0.7rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      label:hover {
        background-color: $medium-grey;
      }

      input[type="radio"]:checked + label {
        background-color: hsl(25, 97%, 53%);
        color: white;
      }

      .second,
      .third,
      .forth,
      .fifth {
        margin-left: 0.8rem;
      }
    }

    &__submit_button {
      input[type="submit"] {
        all: unset;
        cursor: pointer;
        font-weight: 700;
        background-color: $orange;
        color: $white;
        padding: 0.7rem 7rem;
        margin-top: 1.3rem;
        margin-bottom: 0.5rem;
        border-radius: 20px;
      }

      input[type="submit"]:active {
        background-color: $white;
        color: $orange;
      }
    }
  }
}

// thanks page
.thanks_page {
  display: none;
  &__img_container {
    margin: 1.2rem;
  }

  &__result {
    background-color: lighten($dark-blue, 5);
    color: $orange;
    border-radius: 30px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-inline: auto;
    width: 200px;
  }

  &__title {
    color: $white;
    margin-top: 1.3rem;
  }

  &__p {
    color: $medium-grey;
    padding-top: 0.3rem;
    padding-bottom: 0.9rem;
  }
}

// footer
.attribution {
  font-family: $font;
  font-size: 10px;
  margin-top: 0.5rem;
  color: $light-grey;
  &__link {
    color: $orange;
  }
}

.center {
  text-align: center;
}

// JS
.show {
  display: block;
}

.hide {
  display: none;
}
